**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
# Local kubectl exports / temp patches
02-kubernetes-platform-eks/terraform/devops-app-live.yaml
02-kubernetes-platform-eks/terraform/patch.json

temp-eks-local-artifacts/
